#footer {
    opacity: 0.5;
    height: 150px;
    width: 100%;
    background-color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: '400px'
}

#freepik {
    color: white;
}